<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%  extends 'todo/base.html'%}
{% block  content %}
    <div class="w3-center" style="margin-top: 10%">
    <h1 style="font-size:164px;"><i id="brand" class="bi bi-check" style="font-size:164px;font-family:'Gloria Hallelujah' "></i>To<p class="do" style="display: inline;font-size:164px">Do</p><p style="display: inline;font-size:164px;color:var(--txt);">!</p></h1>

        {% if user.is_authenticated %}
<form class="nav-item" action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button class=" btn btn-warning" type="submit" style="width: 25%;font-size: 20px">Logout</button>
            </form>

        {%  else %}
            <form class="nav-item" action="{% url 'signup' %}">
                <button class=" btn btn-warning" type="submit" style="width: 25%;height: 10%;font-size: 20px">Sign in</button></form>
            <br>
            <form class="nav-item" action="{% url 'login' %}">
                <button class=" btn btn-warning" type="submit" style="width: 25%;height: 10%;font-size: 20px">Login</button></form>

            </ul>
        {%  endif %}
    </div>
{% endblock %}
</body>
<style>
    #brand
    {


        background-color: var(--txt);
        color: var(--txt);
    }
    #brand:hover
    {
        background-color: var(--txt);
        color: var(--txt);
    }
    .h1{
        color: var(--txt);

    }
</style>
</html>